!
service routing protocols model multi-agent
!
vlan 43
!
vlan 44
!
vrf instance CUST-D
!
interface Vxlan1
   vxlan source-interface Loopback0
   vxlan udp-port 4789
   vxlan vlan 43 vni 430
   vxlan vlan 44 vni 440
   vxlan vrf CUST-D vni 1240
   vxlan learn-restrict any
!
ip routing
ip routing vrf CUST-D
!
ipv6 unicast-routing
ipv6 unicast-routing vrf CUST-D
!
interface Ethernet3
   switchport
!
interface Ethernet3
   switchport access vlan 43
   switchport mode access
!
interface Vlan43
   ip address 192.168.12.252/24
   ip virtual-router address 192.168.12.254
!
interface Vlan44
   ip address 192.168.13.252/24
   ip virtual-router address 192.168.13.254
!
ip virtual-router mac-address 00:00:00:00:00:0b
!
router bgp 65300
   router-id 10.0.0.18
   no bgp default ipv4-unicast
   timers bgp 10 30
   maximum-paths 128 ecmp 128
   neighbor 10.0.0.19 remote-as 65300
   neighbor 10.0.0.19 update-source Loopback0
   neighbor 10.0.0.19 fall-over bfd
   neighbor 10.0.0.19 send-community standard extended
   neighbor 10.0.0.19 maximum-routes 12000
   !
   address-family evpn
      neighbor 10.0.0.19 activate
      network 10.0.0.18/32
   !
   no address-family ipv4
      no network 10.0.0.18/32
   !
   vrf CUST-D
      rd 10.0.0.18:124
      route-target import evpn 124:1240
      route-target export evpn 124:1240
      redistribute connected
   ! 
   vlan 43
      rd 65300:430
      route-target both 43:430
      redistribute learned
   !
   vlan 44
      rd 65300:440
      route-target both 44:440
      redistribute learned
  !
!
