service routing protocols model multi-agent
!
interface Ethernet1
   no switchport
   ip address 172.16.1.2/24
!
interface Ethernet2
   no switchport
   ip address 10.200.12.2/24
!
interface Ethernet3
   no switchport
   ip address 10.200.22.2/24
!
interface Loopback0
   ip address 10.254.2.12/32
!
interface Loopback1
   ip address 10.254.2.112/32
!
router bgp 65202
   router-id 10.254.2.12
   neighbor EVPN_SPINE peer group
   neighbor EVPN_SPINE remote-as 65200
   neighbor EVPN_SPINE update-source Loopback1
   neighbor EVPN_SPINE allowas-in 1
   neighbor EVPN_SPINE ebgp-multihop 2
   neighbor EVPN_SPINE send-community extended
   neighbor EVPN_SPINE maximum-routes 12000 
   neighbor SPINE peer group
   neighbor SPINE remote-as 65200
   neighbor SPINE allowas-in 1
   neighbor SPINE maximum-routes 12000
   neighbor DCI peer group
   neighbor DCI remote-as 65102
   neighbor DCI send-community extended
   neighbor DCI maximum-routes 12000  
   neighbor 10.254.2.101 peer group EVPN_SPINE
   neighbor 10.254.2.102 peer group EVPN_SPINE   
   neighbor 10.200.12.1 peer group SPINE
   neighbor 10.200.22.1 peer group SPINE   
   neighbor 172.16.1.1 peer group DCI   
   redistribute connected
   !
   address-family evpn
      neighbor EVPN_SPINE activate
      neighbor DCI activate      
   !
   address-family ipv4
      neighbor SPINE activate
      no neighbor EVPN_SPINE activate
      neighbor DCI activate      
      network 10.254.2.12/32
      network 10.254.2.112/32
   !
!
