!
crypto isakmp policy 10
 encryption aes 256
 hash sha256
 authentication pre-share
 group 14
!
crypto isakmp key cisco address 0.0.0.0 0.0.0.0
!
crypto ipsec transform-set TS esp-aes 256 esp-sha256-hmac
 mode transport
!
crypto ipsec profile DMVPN
 set transform-set TS
!
interface Tunnel 11
 ip address 10.0.1.2 255.255.255.0
 tunnel mode gre multipoint
 tunnel source GigabitEthernet0/2
 tunnel key 123
 ip nhrp map 10.0.1.1 172.16.0.17
 ip nhrp map multicast 172.16.0.17
 ip nhrp nhs 10.0.1.1
 ip nhrp network-id 123
 ip nhrp holdtime 60
 delay 5
 tunnel protection ipsec profile DMVPN shared
!
interface Tunnel 22
 ip address 10.0.2.2 255.255.255.0
 tunnel mode gre multipoint
 tunnel source GigabitEthernet0/2
 tunnel key 456
 ip nhrp map 10.0.2.1 172.16.1.21
 ip nhrp map multicast 172.16.1.21
 ip nhrp nhs 10.0.2.1
 ip nhrp network-id 456
 ip nhrp holdtime 60
 delay 10
 tunnel protection ipsec profile DMVPN shared
!
router eigrp 1
 no auto-summary
 network 10.0.0.0
 network 192.168.1.0
!
