service routing protocols model multi-agent
!
interface Ethernet1
   no switchport
   ip address 10.100.12.1/24
!
interface Ethernet2
   no switchport
   ip address 10.100.11.1/24
!
interface Loopback0
   ip address 10.254.1.1/32
!
interface Loopback1
   ip address 10.254.1.101/32
!
ip routing
!
router bgp 65100
   router-id 10.254.1.1
   neighbor EVPN_LEAF peer-group
   neighbor EVPN_LEAF remote-as 65101
   neighbor EVPN_LEAF next-hop-unchanged
   neighbor EVPN_LEAF update-source Loopback1
   neighbor EVPN_LEAF ebgp-multihop 2
   neighbor EVPN_LEAF send-community extended
   neighbor EVPN_LEAF maximum-routes 12000 
   neighbor LEAF peer-group
   neighbor LEAF remote-as 65101
   neighbor LEAF maximum-routes 12000 
   neighbor 10.100.11.2 peer-group LEAF
   neighbor 10.254.1.111 peer-group EVPN_LEAF
   redistribute connected
   !
   address-family evpn
      neighbor EVPN_LEAF activate
   !
   address-family ipv4
      neighbor LEAF activate
      no neighbor EVPN_LEAF activate
      network 10.254.1.1/32
      network 10.254.1.101/32
   !
!   
