service routing protocols model multi-agent
!
vlan 100
!
vrf definition A
!
interface Ethernet1
   no switchport
   ip address 10.200.11.2/24
!
interface Ethernet2
   no switchport
   ip address 10.200.21.2/24
!
interface Ethernet3
   switchport
!
interface Ethernet3
   switchport access vlan 100
!
interface Loopback0
   ip address 10.254.2.11/32
!
interface Loopback1
   ip address 10.254.2.111/32
!
interface Vlan100
   vrf forwarding A
   ip address 192.168.100.22/24
   ip virtual-router address 192.168.100.1
!
interface Vxlan1
   vxlan source-interface Loopback1
   vxlan udp-port 4789
   vxlan vlan 100 vni 1100
   vxlan vrf A vni 1000
!
ip virtual-router mac-address 00:00:00:00:01:00
!
ip routing
ip routing vrf A
!
router bgp 65201
   router-id 10.254.2.11
   neighbor EVPN_SPINE peer-group
   neighbor EVPN_SPINE remote-as 65200
   neighbor EVPN_SPINE update-source Loopback1
   neighbor EVPN_SPINE allowas-in 1
   neighbor EVPN_SPINE ebgp-multihop 2
   neighbor EVPN_SPINE send-community extended
   neighbor EVPN_SPINE maximum-routes 12000 
   neighbor SPINE peer-group
   neighbor SPINE remote-as 65200
   neighbor SPINE allowas-in 1
   neighbor SPINE maximum-routes 12000 
   neighbor 10.254.2.101 peer-group EVPN_SPINE
   neighbor 10.254.2.102 peer-group EVPN_SPINE
   neighbor 10.200.11.1 peer-group SPINE
   neighbor 10.200.21.1 peer-group SPINE
   redistribute attached-host
   !
   vlan 100
      rd 100:100
      route-target both 100:100
      redistribute learned
   !
   address-family evpn
      neighbor EVPN_SPINE activate
   !
   address-family ipv4
      neighbor SPINE activate
      no neighbor EVPN_SPINE activate
      network 10.254.2.11/32
      network 10.254.2.111/32
   !
   vrf A
      rd 100:100
      route-target import evpn 100:100
      route-target export evpn 100:100
      redistribute connected
   !
!   
