service routing protocols model multi-agent
!
vlan 100
!
vrf definition A
!
interface Ethernet1
   no switchport
   ip address 10.100.22.11/24
!
interface Ethernet2
   switchport
!
interface Ethernet2
   switchport access vlan 100
!
interface Loopback0
   ip address 22.22.22.22/32
!
interface Loopback1
   ip address 22.22.22.222/32
!
interface Vlan100
   vrf forwarding A
   ip address 192.168.100.22/24
   ip virtual-router address 192.168.100.1
!
interface Vxlan1
   vxlan source-interface Loopback1
   vxlan udp-port 4789
   vxlan vlan 100 vni 1100
   vxlan vrf A vni 1000
   vxlan flood vtep 11.11.11.111
!
ip virtual-router mac-address 00:00:00:00:01:00
!
ip routing
ip routing vrf A
!
router bgp 300
   router-id 22.22.22.22
   neighbor iBGP peer-group
   neighbor iBGP remote-as 300
   neighbor iBGP update-source Loopback0
   neighbor iBGP send-community extended
   neighbor iBGP maximum-routes 12000 
   neighbor 2.2.2.22 peer-group iBGP
   !
   vlan 100
      rd 100:100
      route-target both 100:100
      redistribute learned
   !
   address-family evpn
      neighbor EVPN_SPINE activate
   !
   address-family ipv4
      neighbor SPINE active
      no neighbor EVPN_SPINE activate
      network 22.22.22.22/32
      network 22.22.22.222/32
   !
   vrf A
      rd 100:100
      route-target import evpn 100:100
      route-target export evpn 100:100
      redistribute connected
   !
!   
