!
vrf instance CUST-A
!
vrf instance CUST-B
!
vlan 33
!
vlan 34
!
interface Ethernet1
   switchport
!
interface Ethernet1
   switchport trunk allowed vlan 33-34
   switchport mode trunk
!
interface Vlan33
   vrf CUST-A
   ip address 192.168.10.6/24
!
interface Vlan34
   vrf CUST-B
   ip address 192.168.11.6/24
!
no ip routing
no ip routing vrf CUST-A
no ip routing vrf CUST-B
!
