!
service routing protocols model multi-agent
!
spanning-tree mode none
!
switchport default mode routed
!
interface Ethernet1
   description 'to spine1 at dc1'
   no switchport
   ipv6 enable
!
interface Ethernet2
   description 'to spine2 at dc1'
   no switchport
   ipv6 enable
!
interface Ethernet3
   description 'to border1 at dc1'
   no switchport
   ipv6 enable
!
interface Ethernet4
   description 'to border2 at dc1'
   no switchport
   ipv6 enable
!
interface Loopback0
   description 'Loopback 0'
   ip address 10.255.0.152/32
!
int Loopback1
   description 'Loopback vtep'
   ip address 10.255.1.152/32
!
interface vxlan1
   vxlan source-interface Loopback1
!
ip virtual-router mac-address 001c.7300.0099
ip routing
ipv6 unicast-routing
ip routing ipv6 interface
!
ip prefix-list LOOPBACK seq 10 permit 10.255.0.0/23 eq 32
!
route-map LOOPBACK permit 10
   match ip address prefix-list LOOPBACK
route-map LOOPBACK deny 65535
!
ip prefix-list EVPN_T5_32 seq 10 permit 0.0.0.0/0 eq 32
!
route-map EVPN_T5 permit 10
   match ip address prefix-list EVPN_T5_32
   set extcommunity rt 666:0 additive
route-map EVPN_T5 permit 65535
!
ip extcommunity-list regexp EVPN_T2 permit RT:666:.*
ip extcommunity-list regexp EVPN_T5 permit RT:0:.*
!
route-map EVPN_DCI deny 10
   match extcommunity EVPN_T2
!
route-map EVPN_DCI permit 30
   match extcommunity EVPN_T5
!   
route-map EVPN_DCI deny 65535
!
router bgp 655152
   bgp asn notation asdot
   router-id 10.255.0.152
!   update wait-install
   no bgp default ipv4-unicast
   maximum-paths 2 ecmp 2
   neighbor UNDERLAY_PG peer group
   neighbor UNDERLAY_PG send-community
   neighbor OVERLAY_PG peer group
   neighbor OVERLAY_PG remote-as 65510
   neighbor OVERLAY_PG send-community
   neighbor OVERLAY_PG update-source Loopback0
   neighbor OVERLAY_PG ebgp-multihop 3
   neighbor interface Eth1 peer-group UNDERLAY_PG remote-as 65510
   neighbor interface Eth2 peer-group UNDERLAY_PG remote-as 65510
   neighbor interface Eth3 peer-group UNDERLAY_PG remote-as 65500
   neighbor interface Eth4 peer-group UNDERLAY_PG remote-as 65500   
   neighbor 10.255.0.101 peer group OVERLAY_PG
   neighbor 10.255.0.102 peer group OVERLAY_PG
   neighbor 10.255.0.11 peer group OVERLAY_PG  
   neighbor 10.255.0.11 remote-as 65500
   neighbor 10.255.0.11 route-map EVPN_DCI out
   neighbor 10.255.0.12 peer group OVERLAY_PG  
   neighbor 10.255.0.12 remote-as 65500  
   neighbor 10.255.0.12 route-map EVPN_DCI out   
   redistribute connected route-map LOOPBACK
   address-family ipv4
      neighbor UNDERLAY_PG activate
      neighbor UNDERLAY_PG next-hop address-family ipv6 originate
   !   
   address-family evpn
      neighbor OVERLAY_PG activate
   !   
!
vrf instance TENANT-A
!
ip routing vrf TENANT-A
!
vlan 100
   name TENANT|A-100
!
vlan 101
   name TENANT|A-101
!
interface Loopback101
   description 'TENANT-A Loopback'
   vrf TENANT-A
   ip address 172.16.101.152/32
!
interface vlan101
   description 'TENANT-A Gateway'
   vrf TENANT-A
   ip address virtual 192.168.101.1/24
!
ip address virtual source-nat vrf TENANT-A address 172.16.101.152
!
int vxlan1
   vxlan vlan add 100-101 vni 100-101
   vxlan vrf TENANT-A vni 1000
!
router bgp 655152
   vlan-aware-bundle TENANT-A
      rd 10.255.0.152:100
      route-target both 100:100
      route-target export 666:100
      redistribute learned
      vlan 101
   !   
   vrf TENANT-A
      rd 10.255.0.152:1000
      route-target import evpn 1000:1000
      route-target export evpn 1000:1000
      route-target export evpn 0:1000      
      route-target export evpn route-map EVPN_T5
      redistribute connected
   !   
!
vrf instance TENANT-B
!
ip routing vrf TENANT-B
!
vlan 200
   name TENANT|B-200
!
vlan 201
   name TENANT|B-201
!
interface Loopback201
   description 'TENANT-B Loopback'
   vrf TENANT-B
   ip address 172.16.201.152/32
!
int vlan201
   description 'TENANT-B Gateway'
   vrf TENANT-B
   ip address virtual 192.168.201.1/24
!
ip address virtual source-nat vrf TENANT-B address 172.16.201.152
!
int vxlan1
   vxlan vlan add 200-201 vni 200-201
   vxlan vrf TENANT-B vni 2000
!
router bgp 655152
   vlan-aware-bundle TENANT-B
      rd 10.255.0.152:200
      route-target both 200:200
      route-target export 666:200
      redistribute learned
      vlan 201
   !   
   vrf TENANT-B
      rd 10.255.0.152:2000
      route-target import evpn 2000:2000
      route-target export evpn 2000:2000
      route-target export evpn 0:2000      
      route-target export evpn route-map EVPN_T5
      redistribute connected
   !   
!
